[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/riscv-opcodes"]
	path = thirdparty/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
	branch = sim2022

[submodule "thirdparty/ELFIO"]
	path = thirdparty/ELFIO
	url = https://github.com/serge1/ELFIO.git
